.text-area {
  height: 100%;
  width: 100%;
  &.dex-closed {
    opacity: 0;
  }
  &.dex-opened {
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }
  .text-area-container {
    padding: 2%;
    .text-area-header {
      margin-bottom: 2%;
    }
  }
  * {
    color: #a3d89b;
  }
}
